head
	// Пути для css, js и изображений
	- path = {css: 'assets/css', js: 'assets/js', img: 'assets/img'};
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="initial-scale=1.0, width=device-width, maximum-scale=1, minimum-scale=1")
	title CRM
	// подключение сss
	link(rel="stylesheet", href = path.css + "/font-awesome.min.css")
	link(rel="stylesheet", href = path.css + "/main.min.css")

	

